# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Database
*.db
*.sqlite
*.sqlite3

# Log files
*.log

# Virtual environment
venv/
env/
.env/
.venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Testing and Coverage
.pytest_cache/
.coverage
htmlcov/
.nosetests
nosetests.xml
coverage.xml
*.cover
*.py,cover

